body{
    background-color: aqua;
}
header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    gap: 250px;
    background-color: white;
    height: 70px;
    width: 196vh;
    border-radius: 15px;
    padding: 20px;
    display: flex;
}

.info{
    
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: pt sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 250px;
    height: 80px;
    border-radius: 15px;
}

section{
    gap: 10px;
    display: flex;
    padding: 5px;
    margin-top: 10px;
}
.container{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 200vh;
    height: 85vh;
    background-color: white;
    border-radius: 15px;
}

.lista{
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: white;
    height: 85vh;
    width: 30vh;
    border-radius: 15px;

}
h1{
    margin-left: 70px;
    
}