@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');



body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: pt sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 250px;
    height: 80px;
    border-radius: 15px;
}

#icon{
    color:  rgb(28, 145, 145);
    
}

.info:hover{
    color: #4786aa;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos da barra lateral */
.sidebar {
    height: 97vh;
    width: 0; /* Começa oculta (largura 0) */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s; /* Transição suave ao abrir/fechar */
    padding-top: 60px;
    border-radius: 15px;
    margin-top: 15px;
    border-right: 4px solid black;
}

/* Estilos dos botões dentro da barra lateral */
.sidebar button {
    padding: 10px 15px;
    text-align: left;
    font-size: 18px;
    color: rgb(38, 87, 87);
    background: none;
    border: none;
    display: block;
    transition: 0.3s;
    width: 100%;
}

.sidebar button:hover {
    background-color: #575757;
}


#menuIcon {
    margin-top: 20px;
    font-size: 30px;
    position: fixed; /* Fixa o ícone na página */
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
    color: #0c405e;
    margin-left: 30px;
}

/*pop-up */

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 229, 229, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px;

}


.popup-content {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeBtn {
    float: right;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 24px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    text-align: center;
    text-decoration: none;

    font-size: 25px;
    font-family: pt sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 150px;
    height: 80px;
    border-radius: 15px;
}

i{
   
    color: rgb(76, 172, 172);
}

.cad{
    margin-left: 75px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: pt sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 150px;
    height: 80px;
    border-radius: 15px;
}


#exit{
    margin-top: 46vh;
}

form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*fim popup*/


/* CRUD */

section{
    gap: 10px;
    display: flex;
    padding: 5px;
    margin-top: 10px;
}
.container1{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 199vh;
    height: 97vh;
    background-color: white;
    border-radius: 15px;
    gap: 100px;
}


.btncad{
   
    cursor: pointer;
  }

  
  .modal-container2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-container2.show {
    display: flex; /* Mostra a modal */
}
  .header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
  }
  
.modal{
  padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 560px;
    border-radius: 15px;

}

  .header span {
    margin-left: 80vh;
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
  }
  
  #new {
    height: 50px;
    width: 100px;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
  }
  
  .divTable {
    padding: 10px;
    overflow:auto;
  }
  
  .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
  }
  
  .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
  }
  
  table {
    width: 190vh;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  thead {
    background-color: whitesmoke;
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }
  
  thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
  
  thead tr th.acao {
    width: 100px!important;
    text-align: center;
  }
  
  tbody tr td.acao {
    
    gap: 100px;
    text-align: center;
  }

  .acao button {
    width: 90px;
    height: 70px;
    padding: 5px ; /* Diminui o tamanho dos botões */
    font-size: 25px; /* Reduz o tamanho da fonte */
    margin-right: 100px; /* Adiciona margem entre eles */
    cursor: pointer;
    border-radius: 15px;
}

.btn-editar {
    background-color: #4CAF50; /* Cor do botão Editar */
    color: white;
    margin-right: px; /* Margem à direita para separar do botão Excluir */
}

.btn-excluir {
    background-color: #f44336; /* Cor do botão Excluir */
    color: white;
}

#btnSalvar{
  margin-left: 140px;
}
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  td button i {
    font-size: 25px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }
  
/* FIM CRUD*/

